#root {
  --main-color: #F5A623;
  --font-color: #ebebeb;
  --background-color: #141414;
  --lighting-color: #FFDE59;
  --darking-color: #FF8B43;
  --title-font: 'Oswald', sans-serif;
  --main-font: 'Geist', sans-serif;
}

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, #root {
  width: 100vw;
  height: 100vh;
}

#root {
  background: var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1, h2 {
  font-family: var(--title-font);
  color: var(--main-color);
  font-size: 4em;
  text-shadow: 0 0 10px #000;
}

.icon-container {
  border-radius: 50%;
  box-shadow: 0 0 20px #000000;
}

.icon-container img {
  display: flex;
  justify-content: center;
}

.access {
  margin-top: 2em;
  padding: 0.5em;
  font-family: var(--title-font);
  font-weight: bold;
  font-size: 1.5em;
  background: var(--background-color);
  border: none;
  color: var(--font-color);
  cursor: pointer;
  text-shadow: 0 0 10px #000;
}

.access:hover {
  color: var(--main-color);
  text-shadow: 0 0 10px var(--lighting-color);
  border-radius: 1em;
  box-shadow: 0 0 2px var(--main-color) inset;
}

.page {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template: 1fr / auto 1fr;
  gap: 2em;
  font-family: var(--main-font);
  color: var(--font-color);
  font-size: 1.2em;
}

h2 {
  font-size: 2em;
}

.selection-container {
  padding: 2em;
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.list {
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
  list-style-type: none;
  border-top: 1px solid var(--main-color);
  border-bottom: 1px solid var(--main-color);
}

.list li {
  margin: 0.5em 0;
  cursor: pointer;
}

.list li:hover {
  padding: 0 1em;
  color: var(--main-color);
  text-shadow: 0 0 10px var(--lighting-color);
  border-radius: 1em;
  box-shadow: 0 0 2px var(--main-color) inset;
}

.visual-container {
  grid-area: 1 / 2 / 2 / 3;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}